.nosotros{
    align-items: center;
    justify-content: center;
    &__titulo{
        margin-top: 1rem;
        text-align: center;
    }
    &__parrafo{
        margin-left: 1rem;
        text-align: justify;
        border-radius: 1rem;
        border: 4px solid #FFF;
        padding: 1rem;
    }
    &__img{
        border-radius: 1rem;
    }
}